/* css variables */
:root {
  --color-white: #fff;
  --color-black: #000;
  --color-violet: hsl(257, 40%, 49%);
  --text-size: 1.6rem;
}

*::before,
*::after,
* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html, body {
  width: 100%;
  height: 100vh;

}

html {
  font-size: 62.5%;
  background: var(--color-violet);
}

body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: var(--text-size);
  font-weight: 400;
  line-height: 1.7;
  background: url(../images/bg-desktop.svg);
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  height: 70px;
}

.header .logo {
  width: 150px;
}

img {
  width: 100%;
  height: auto;
}

.main-content {
  display: flex;
  justify-content: space-between;
  margin-top: 6rem;
  overflow: hidden;
}

.content-img {
  margin-right: 7rem;
  animation: moveInLeft 1s ease-out;
}

.content {
  margin-top: 5rem;
  width: 40%;
  color: var(--color-white);
  animation: moveInRight 1s ease-out;
}

.heading {
  font-family: 'Poppins', 'sans-serif';
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 4rem;
}

.heading--primary,
.heading--secondary {
  display: block;
}

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1rem 5rem;
  text-decoration: none;
  border-radius: 10rem;
  margin-top: 2.5rem;
  position: relative;
  background: var(--color-white);
  color: var(--color-violet);
  transition: all 0.3s;
}

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  background-color: var(--color-white);
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn:hover {
  transform: translateY(-2.5px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active,
.btn:focus {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.footer {
  text-align: right;
  animation: fadeIn 1s ease-in 0.8s backwards;
}

.icon {
  border: 1px solid var(--color-white);
  vertical-align: middle;
  padding: 0.8rem;
  border-radius: 50%;
  margin: 0 0.4rem 0 0;
  color: var(--color-white);
  transition: all 0.5s;
}

.icon:hover {
  background: var(--color-white);
  color: var(--color-violet);
}

.icon:last-child {
  margin: 0;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* RWD */

@media (max-width: 1280px) {
  .main-content {
    flex-direction: column;
    align-items: center;
  }

  .content-img {
    margin-right: 0;
  }

  .content {
    width: 100%;
    text-align: center;
  }

  .heading {
    font-size: 4.5rem;
    margin-bottom: 2rem;
  }

  .btn {
    align-self: center;
  }

  .footer {
    text-align: center;
    margin-top: 7rem;
    margin-bottom: 3rem;
  }
}

@media (max-width: 650px) {
  .heading {
    font-size: 3.5rem;
  }
}

@media (max-width: 470px) {
  body {
    background: url(../images/bg-mobile.svg);
  }

  .heading {
    font-size: 3rem;
  }
}

@media (max-width: 400px) {
  .heading {
    font-size: 2.5rem;
  }

  .content p {
    font-size: 1.4rem;
  }
}

@media (max-width: 330px) {
  .heading {
    font-size: 2rem;
  }
}
